<div class="container">
        <div class="row">

		<!-- Will change based on user -->

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Basic panel example
                    </div>
                </div>
            </div>

		<!-- End of change -->

        </div>

        <div class="row">
            <table>
                <thead> 
                    <th>First Name</th> 
                    <th>Last Name</th> 
                    <th>Email</th> 
                    <th>City</th> 
                    <th>State</th> 
                </thead> 
                <tbody> 
                    {{#users}} 
                    <tr> 
                        <td>{{first_name}}</td> 
                        <td>{{last_name}}</td> 
                        <td>{{email}}</td> 
                        <td>{{city}}</td> 
                        <td>{{state}}</td> 
                    </tr> 
                    {{/users}} 
                </tbody> 
            </table> 
        </div>
</div>