<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>{{this.className}} Students</h2>
            <table id="customTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Classes</th>
                        <th>Class Level</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each this.students as |student|}}
                        <tr>
                            <td>{{student.name}}</td>
                            <td>{{student.classes}}</td>
                            <td>{{student.class_level}}</td>
                            <td>
                                <a href="{{../url}}{{student.id}}">
                                    <button type="button" class="btn btn-default" data-id="{{student.id}}">View</button>
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>